.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  width: 98%;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 700px;
}

.box{
  flex: 1 100%;
}

h1{
  text-align: center;
}

.person{
  width: 250px;
  height: 400px;
  border: 1px solid black;
  /*background: salmon;*/
  margin: 0 auto;
}

.person img{
  width: 100%;
}